
html, body{
    background-color: #222;
    color: #ffffff;
    width: 100%;
    height: 100%;
    font-family: Ubuntu,sans-serif;
    margin: 0;
}

a {
    text-decoration:none;
}

#centre-absolute{
    display: grid;
}

.ui {
    margin: 5.3rem 0.5rem 0.5rem 0.5rem;
    position: absolute;
    z-index: 1;
}

.ui .list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 9rem;
}

.hero{
    grid-column: 1;
    grid-row: 1;
    z-index: 10;
    display: grid;
    grid-template-columns: 10rem 7rem 1fr;
    margin: 0;
    padding: 1rem;
    background-color: #343434a5;
    height: 2.75rem;
}

.title {
    margin: 0.25rem 2rem 0rem 0rem;
}

.button{
    padding: 0.8rem 0.75rem 0.25rem 0.75rem;
    background:#555;
    border-radius: 0.5rem;
    color:#f88;
    height: 1.75rem;
    text-align: center;
}

button {
    border: none;
    background:#555;
    color:#f88;
    border-radius: 0.5rem;
}

button:hover {
    cursor:pointer;
    color: #f33;
    background:#444;
}

.button:hover{
    color: #f33;
    cursor:pointer;
    background:#444;
}


button:active{
    color: #f00;
    background:#333;
}

.button:active{
    color: #f00;
    background: #333;
}

#upload {
    text-align: center;
}

#selected{
    margin: 0.75rem;
    color: #888;
}

.container{
    overflow: hidden;
    padding-left: calc((100vw - min(100vw, 100vh)) / 2); 
    grid-column: 1;
    grid-row: 1;
}

@media only screen and (max-width: 1000px){
    .container{
        padding-top: calc((100vh - min(100vw, 100vh)) / 2);
    }
}

#canvas{
    z-index: 0;
    position: absolute; 
    width: min(100vw, 100vh); 
}

.settings{
    z-index: 1;
    width: 20rem;
    padding: 0rem 1rem 1rem 1rem;
    background-color: #343434a5;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

.settings .header{
    display: grid;
    grid-template-columns: 10fr 1fr;
}

#close-settings{
    margin-top: 1rem;
    padding: 0.3rem 0.8rem 0.5rem 0.9rem;
    font-size: 1.5rem;
}

.settings .entry{
    display: flex;
    flex-direction: row;
}

.settings .entry .field-button {
    margin: 0.3rem 0rem 0rem 1rem;
}

.settings .entry .number{
    font-size: 1rem;
    height: 1.2rem;
    width: 5rem;
}

.settings .entry .update{
    height: 1.5rem;
    margin-left: 0.25rem;
}

input {
    border: none;
    margin: 0.1rem;
}

input:invalid{
    background-color: rgb(255, 107, 107);
}

input:invalid + button.update {
    pointer-events:none;
    color: #bcbcbc;
    background:#abababa5; 
    /* disabled */
}

.entry p {
    margin-top: 0.5rem;
}